
.navbar {
    height: var(--header-height);
}

.dark .navbar .active, .dark .menu > li:hover {
    /*color: var(--cyan-200);*/
    color: #fff;
    text-shadow: 0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}

.navbar .active, .menu > li:hover {
    color: #333; /* Adjust the text color to a darker color */
    text-shadow:
            0 0 5px #333, /* Slight shadow for readability */
            0 0 10px #333,
            0 0 20px #333,
            0 0 40px #00f, /* Light blue shadow for light mode */
            0 0 80px #00f,
            0 0 90px #00f,
            0 0 100px #00f,
            0 0 150px #00f;
}

.logo a {
    color: var(--cyan-50) !important;;
}

.menu {
    display: flex;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
}

.menu > li {
    display: flex;
    justify-content: center;
    font-weight: 700;
}


.menu > li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.menu > li:hover a::after {
    width: 110%;
}


.menu-button-container {
    font-size: 0;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle {
    display: none;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0;
    -ms-transform: rotate(405deg);
    transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0;
    transform: rotate(-405deg);
}


#menu-toggle ~ .menu li {
    height: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-toggle:checked ~ .menu li {
    height: 2.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 0;
    display: block;
    background-color: #0A0A0B;
    opacity: .9;
    z-index: -1;
    transition: height 0.2s linear;
}


@media (max-width: 768px) {
    #menu-toggle:checked ~ .overlay {
        height: 100vh;
    }
}


