@import 'react-tooltip/dist/react-tooltip.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    transition: background-color .2s linear;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    background-color: var(--background-color-1);
    color: var(--text-color);
}

.element {
    min-height: 100vh;
}

.hover-transition {
    transition-duration: .3s;
}

.hover-transition:hover {
    color: rgba(55, 65, 81) !important;
}

.hover-transition::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.hover-transition:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hover-transition::before {
    content: " ";
    display: block;
    position: absolute;
    inset: 0 0 0 0;
    background: var(--cyan-200);
    transition: transform .3s ease;
    z-index: -1;
}
