.scroll-up-btn {
    position: fixed;
    z-index: 2;
    cursor: pointer;
    border-radius: 7px;
    width: 60px;
    height: 60px;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    border: none;
    background-color: transparent;
    opacity: 0;
}

.scroll-up-btn.scroll-up-enter, .scroll-up-btn.scroll-up-exit-done {
    opacity: 0;
}
.scroll-up-btn.scroll-up-enter-active {
    opacity: 1;
    transition: opacity 500ms;
}

.scroll-up-btn.scroll-up-exit, .scroll-up-btn.scroll-up-enter-done {
    opacity: 1;
}
.scroll-up-btn.scroll-up-exit-active {
    opacity: 0;
    transition: opacity 500ms;
}
