.hover-transition {
    transition-duration: .3s;
}

.hover-transition:hover {
    color: rgba(55, 65, 81) !important;
}

.hover-transition::before {
    transform: scaleX(0);
    transform-origin: bottom right;
}

.hover-transition:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hover-transition::before {
    content: " ";
    display: block;
    position: absolute;
    inset: 0 0 0 0;
    background: var(--cyan-200);
    transition: transform .3s ease;
    z-index: -1;
}

.see-project-button {
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--cyan-200);
    transition: all 300ms;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    outline: 2px solid var(--cyan-200);
    max-width: 15rem;
}

.see-project-button:hover {
    color: #ffffff;
    transform: scale(1.1);
    outline: 2px solid var(--cyan-100);
    box-shadow: 4px 5px 17px -4px var(--cyan-300);
}

.see-project-button::before {
    content: "";
    position: absolute;
    left: -50px;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--cyan-200);
    transform: skewX(45deg);
    z-index: -1;
    transition: width 300ms;
}

.see-project-button:hover::before {
    width: 250%;
}

.main-content {
    flex: 2;
}

