#about .name {
    background-color: var(--cyan-200);
    color: var(--text-color);
    padding: 0 .6rem;
    border-radius: 0.25rem;
    box-shadow: 4px 5px 17px -4px var(--cyan-300);
}

#about .name::after {
    content: "";
    width: 5px;
    margin-left: 3px;
    height: 47px;
    margin-top: 5px;
    background: #8338ec;
    display: inline-block;
    animation: cursor-blink 1.5s steps(2) infinite;
}

#about .social:hover {
    transform: scale(1.4);
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}

@media (min-width: 1024px) {
    #about .name::after {
        height: 70%;
        margin-bottom: -2px;
    }
}


